* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

h1 {
  display: flex;
  justify-content: center;
  background-color: white;
  color: #111010;
  padding: 5px 0px;
  margin-bottom: 0;
  font-size: x-large;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111010;
  text-align: center;
}

.play-buttons {
  color: #888;
  margin-right: 20px;
  display: flex;
  gap: 70px;
  justify-content: CENTER;
  padding: 5px;
}

.music-range {
  accent-color: #4caf50;
}
input {
  width: 50%;
  padding: 5px;
}

.wrapper {
  padding: 25px;
  margin-bottom: 58px;
  background-color: #111010;
}

.left-section {
  color: #888;
  background-color: #555;
  border: 1px solid transparent;
  border-radius: 8px;
  width: 15%;
  padding: 15px;
}

.flex-two {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.left-section-two {
  margin-top: 15px;
  color: #888;
  background-color: #555;
  border: 1px solid transparent;
  border-radius: 8px;
  width: 15%;
  height: 72vh;
  padding: 15px;
}

.btn {
  display: inline;
  padding: 7px 17px;
  background-color: #9e9d9d;
  color: white;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.card-music {
  display: flex;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
h4,
p {
  margin-bottom: 0;
}

.card-music img {
  width: 60px;
  height: 50px;
  padding-right: 10px;
}
