* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  background-color: white;
  color: #111010;
  padding: 5px 0px;
  margin-bottom: 0;
  font-size: x-large;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111010;
  text-align: center;
}

.play-buttons {
  color: #888;
  margin-right: 20px;
  display: flex;
  gap: 70px;
  justify-content: CENTER;
  padding: 5px;
}

.music-range {
  accent-color: #4caf50;
}

.d-flex {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
input {
  width: 50%;
  padding: 5px;
}

.wrapperone {
  padding: 25px;
  margin-bottom: 58px;
  background-color: #111010;
  display: flex;
}

.left-sidebar,
.right-section {
  flex-basis: 25%;
  flex-shrink: 0;
  height: 80vh;
  overflow: auto;
}

.left-section,
.right-section {
  color: #888;
  background-color: #555;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 15px;
}

.flex-two {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.left-section-two {
  margin-top: 15px;
  color: #888;
  background-color: #555;
  border: 1px solid transparent;
  border-radius: 8px;
  height: 72vh;
  padding: 15px;
}

.btn {
  display: inline;
  padding: 7px 17px;
  background-color: #9e9d9d;
  color: white;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.card-music {
  display: flex;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
h4,
p {
  margin-bottom: 0;
}

.card-music img {
  width: 60px;
  height: 50px;
  padding-right: 10px;
}

.middle {
  flex-basis: 50%;
  height: 80vh;
  overflow-y: auto;
  margin: 0 15px;
  background: linear-gradient(#690d0d, #19191d);
}

.wrapper {
  margin: 0 auto;
  padding: 25px;
}

.section {
  padding: 30px 0;
}

.second.section,
.third.section {
  overflow-x: scroll;
}

.card .d-play,
.card-bottom .d-play {
  visibility: hidden;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #4caf50;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  transform: translate(-50%, -50%);
}

.card,
.card-bottom .image {
  position: relative;
}

.card:hover .d-play,
.card-bottom:hover .d-play {
  visibility: visible;
}

.flex-parent,
.flex {
  display: flex;
  gap: 20px;
}

.flex-parent {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.top,
.left,
.right {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 10px;
}
.top {
  padding: 10px 20px;
  background-color: #19191d1f;
  color: #898991;
}

.card {
  flex-basis: 30%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.137);
  border-radius: 5px;
}
.card img {
  width: 100px;
}

.card .content {
  padding: 10px;
  flex-basis: 70%;
}

.card-bottom {
  flex-basis: 20%;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.137);
}

.card-bottom img {
  border: none;
  border-radius: 5px;
}

.image img {
  width: 100px;
}

article {
  background-color: #111010;
  border-radius: 8px;
  margin: 10px 20px;
}

article .media-content {
  position: relative;
}

article .media-content span {
  color: white;
  position: absolute;
  left: 5px;
  top: 5px;
}

article .text-content {
  padding: 20px;
}

article:hover .text-content {
  background-color: #d3d1d1;
}
