* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

h1 {
  display: flex;
  justify-content: center;
  background-color: white;
  color: #111010;
  padding: 5px 0px;
  margin-bottom: 0;
  font-size: x-large;
}
